{% extends '../base.html' %}

{% block page %}
    <div class="container">
        <div class="mt-4 mb-4">
            <h1 class="text-center">SHUT UP AND TAKE MY MONEY!</h1>
        </div>

        <div class="row">
            <div class="col-6 offset-3">
                <div class="row">
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="plan" id="planGold" value="sku_CI25CoewzpG1rg" checked>
                            <label class="form-check-label" for="planGold">
                                Gold
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="plan" id="planPlat" value="sku_CI25JMdlgYZ4nh">
                            <label class="form-check-label" for="planPlat">
                                Platinum
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="plan" id="planDiam" value="sku_CI25WE3Natp2b7">
                            <label class="form-check-label" for="planDiam">
                                Diamond
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 offset-3">
                <hr class="mt-4 mb-4">
            </div>
        </div>

      <div class="row">
        <div class="col-6 offset-3">
            <h2 class="mb-4 text-center">Payment Details</h2>
              
            <form id="review-payment-form" class="review-payment-form">
                <div class="mb-3">
                    <input type="text" class="form-control" id="name" value="" required="" placeholder="Name">
                    <div class="invalid-feedback">
                        Please enter your name.
                    </div>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" id="email" value="" required="" placeholder="Email">
                    <div class="invalid-feedback">
                        Please enter your email.
                    </div>
                </div>

                <div class="mb-3">
                    <div id="card-element" class="card-element"></div>
                </div>

                <hr class="mt-4 mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit">
                    Pay Now
                </button>
            </form>
        </div>
      </div>
    </div>
{% end %}

{% block scripts %}
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        (function(globals) {
            globals.STRIPE_PUBLIC_KEY = '{{ stripe_public_key }}';
            globals.STRIPE_ORDER_URL = '{{ reverse_url("order") }}';
        }(window));        
    </script>

    <script>
        (function(globals, $) {
            // DOM is ready.
            $(function() {
                // The main content container.
                var $container = $('#container');

                // Error message container.
                var $errorMessage = $('div#outcome > div.error');

                // Form fields.
                var $name = $('input[type=text]#name');
                var $email = $('input[type=text]#email');
                
                var stripe = Stripe(globals.STRIPE_PUBLIC_KEY);
                
                var elements = stripe.elements();

                var card = elements.create('card', {
                    style: {
                        base: {
                            lineHeight: '48px',
                            fontFamily: '"Helvetica Neue", "Helvetica", sans-serif',
                            fontWeight: 400,
                            fontSize: '16px',
                        },
                    },
                    hidePostalCode: true,
                });

                card.mount('#card-element');

                function handleCreateToken(result) {
                    var error = result.error;
                    var token = result.token;

                    if ((typeof error) !== 'undefined') {
                        handleCreateTokenFail(error);
                    } else {
                        handleCreateTokenDone(token);
                    }
                }

                function handleCreateTokenDone(token) {
                    var card = token.card;
                    
                    console.log('handleCreateTokenDone token...');
                    console.log(token);

                    var params = {
                        sku: $('input[type=radio][name=plan]:checked').val(),
                        name: $name.val(),
                        email: $email.val(),
                        stripeCard: card.id,
                        stripeToken: token.id,
                    };

                    console.log('handleCreateTokenDone params...');
                    console.log(params);

                    $.post(globals.STRIPE_ORDER_URL, params, function(response) {
                        console.log('handleCreateTokenDone response...');
                        console.log(response);
                    });
                }

                function handleCreateTokenFail(error) {
                    alert(error.code + ' - ' + error.message);
                }

                $('form#review-payment-form').submit(function(e) {
                    e.preventDefault();

                    var name = $.trim($name.val());
                    if (name.length === 0) {
                        alert('Name is required');
                        return;
                    }

                    var email = $.trim($email.val());
                    if (email.length === 0) {
                        alert('Email is required');
                        return;
                    }

                    var extraDetails = {
                        name: name,
                    };

                    stripe.createToken(card, extraDetails).then(handleCreateToken);
                });
            });
        }(window, jQuery));
    </script>
{% end %}