{% extends '../base.html' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 my-5">
                <form id="form-register" class="form-register" method="post">
                    <div class="card">
                        <div class="card-header text-center">
                            Create a new account
                        </div>
                        <div class="card-body">
                            {% module xsrf_form_html() %}
        
                            {% if messages %}
                                {% for field_name, field_error in messages.items() %}
                                    <div class="alert alert-danger" role="alert">
                                        <strong>{{ field_name }}:</strong> {{ field_error }}
                                    </div>
                                {% end %}
                            {% end %}
        
                            <div class="mb-2">
                                <input type="email" id="id_username" class="form-control" name="username" value="{{ username }}" placeholder="Email Address" required autofocus>
                            </div>
        
                            <div class="mb-0">
                                <input type="password" id="id_password" class="form-control" name="password" value="{{ password }}" placeholder="Password" required>
                            </div>
        
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                        </div>
                    </div>

                    <input type="hidden" name="redirect" value="{{ redirect }}">
                </form>
            </div>
        </div>
    </div>
{% end %}